/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.cc42fec2.woff") format("woff"), url("../fonts/Montserrat-Regular.ac4c05ba.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.258148f4.woff") format("woff"), url("../fonts/Montserrat-Bold.9f4eb483.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.43ba5e0e.woff") format("woff"), url("../fonts/Montserrat-Light.57f97785.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.0595f226.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.2c110fb1.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.c7f2d8fd.woff") format("woff"), url("../fonts/Montserrat-SemiBold.7af6687b.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.2f91cf9b.woff") format("woff"), url("../fonts/Montserrat-Medium.0ebfd9f0.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.384b9a45.woff") format("woff"), url("../fonts/Montserrat-Black.ea06ea3c.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-size: 15px;
  overflow-x: hidden;
}
@media only screen and (max-width: 499px) {
  body body {
    min-width: 320px;
    overflow-x: hidden;
  }
}
@media (max-width: 351px) {
  body body {
    min-width: 280px;
  }
}

.container {
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1664px;
  padding-left: 128px;
  padding-right: 128px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

input {
  outline: none;
  border: none;
}

@media (max-width: 499px) {
  .container {
    min-width: 320px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 351px) {
  .container {
    min-width: 280px;
  }
}
.font-bold {
  font-weight: bold;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.slider__wrapper {
  width: 100%;
  height: 800px;
  position: relative;
}

.slider {
  width: 100%;
  height: 800px;
  position: relative;
}

.slider-dots {
  display: flex;
  position: absolute;
  bottom: 30px;
  z-index: 1;
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  margin-left: 12px;
  cursor: pointer;
}

.dot-active {
  background: rgba(255, 255, 255, 0.8);
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-prev.slider-prev,
.swiper-button-next.slider-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 50%;
  height: auto;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
  height: 83%;
  outline: none;
}
.swiper-button-prev.slider-prev img,
.swiper-button-next.slider-next img {
  width: 1.5%;
  height: 6%;
}
.swiper-button-prev.slider-prev:hover,
.swiper-button-next.slider-next:hover {
  opacity: 1;
}

.swiper-button-prev.slider-prev {
  align-items: flex-start;
  padding-left: 28px;
}

.swiper-button-next.slider-next {
  align-items: flex-end;
  padding-right: 28px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-prev.slider-prev img {
  transform: rotate(180deg);
}

.swiper-button-next.slider-next {
  right: 0;
}

.slider-item {
  width: 100%;
  opacity: 1;
  transition: all ease 1s;
}

.swiper-pagination.slider-dots.swiper-pagination-bullets {
  left: 45%;
  bottom: 40px;
}

.swiper-pagination-bullet {
  background: white !important;
  margin: 0 10px !important;
}

.big-block.big-block--news.common-wrapper.slider-item {
  height: 800px;
  padding-top: 120px;
  position: relative;
  overflow: hidden;
}

.big-block--news {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.501038) 0%, rgba(0, 0, 0, 0.9) 88.99%, rgba(0, 0, 0, 0.895897) 100%), url(../images/slide-1.63ae0be8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.common-wrapper__holder {
  height: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1664px;
  padding-left: 128px;
  padding-right: 128px;
}

.tag {
  font-weight: 900;
  font-style: normal;
  font-size: 9px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  padding-left: 16px;
  padding-right: 16px;
  background: white;
  border-radius: 13px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.big-block__description {
  max-width: 512px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 55px;
}

.big-block__title {
  max-width: 703px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-top: 150px;
}

.read-more {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-top: 150px;
}

.read-more__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.read-more__icon {
  margin-left: 12px;
}

.our-offer {
  padding-top: 56px;
  padding-bottom: 70px;
}

.tag--green {
  background: #35A9AD;
  color: white;
  font-weight: 900;
  font-size: 9px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.line__wrapper {
  display: flex;
  align-items: center;
}

.line-text__block {
  margin-right: auto;
}

.offer__title {
  max-width: 534px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #111721;
  margin-top: 48px;
}

.offer__description {
  max-width: 512px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #111721;
  margin-top: 32px;
}

.line-logo__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #303030;
  margin-top: 16px;
}

.big-block--represent {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #35A9AD;
  padding-top: 112px;
  background-image: url(../images/back-img.b0048497.png);
  background-repeat: no-repeat;
  background-position: top 0px right 0px;
  padding-bottom: 40px;
}

.big-block__tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.big-block__title.big-block__title--no-min-height {
  margin-top: 24px;
}

.big-block__col {
  max-width: 320px;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.big-block__col:nth-child(2) {
  margin-right: 0;
}

.big-block__2col.big-block__2col--mobile-column {
  display: flex;
  align-items: baseline;
  margin-top: 138px;
}
.big-block__2col.big-block__2col--mobile-column .big-block__col.big-block__col--mobile-row:not(:first-child) {
  margin-left: 280px;
}

.big-block__col-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 8px;
}

.big-block__col__second {
  width: 320px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-top: 70px;
}

.big-block__2col.big-block__2col--mobile-second-block {
  display: flex;
  align-items: baseline;
}
.big-block__2col.big-block__2col--mobile-second-block .big-block__col:not(:first-child) {
  margin-left: 125px;
}

.big-block__col-text.big-block__col-text--big {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
}

.partners-line {
  margin-top: 100px;
}

.partners-line {
  margin-top: 72px;
}

@media only screen and (max-width: 499px) {
  .partners-line {
    margin-top: 48px;
  }
}
.partners-line__logo {
  max-width: 100%;
  transform: scale(1);
  transition: all 100ms ease;
}

.partners-line__read-more {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

@media only screen and (max-width: 499px) {
  .partners-line__read-more {
    margin: 0;
    justify-content: flex-start;
  }
}
.partners-line__heading {
  font-weight: 500;
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 499px) {
  .partners-line__heading {
    margin-bottom: 16px;
  }
}
.partners-line__holder {
  height: 120px;
}

.partners-line__wrapper {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
}

@media only screen and (min-width: 500px) {
  .partners-line__wrapper {
    right: initial;
    overflow: visible;
  }
}
.partners-line__wrapper::-webkit-scrollbar {
  display: none;
}

.partners-line__logo-holder {
  width: 120px;
  height: 120px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  flex-shrink: 0;
  margin-right: 16px;
}

.partners-line__logo-holder:hover .partners-line__logo {
  transform: scale(0.875);
}

.partners-line__logo-holder:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 500px) {
  .partners-line__logo-holder:last-child {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 500px) {
  .partners-line__logo-holder:first-child {
    margin-left: 16px;
  }
}
.info-mobile {
  display: none !important;
}

@media (max-width: 1024px) {
  .swiper-container {
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1664px;
    padding-left: 128px;
    padding-right: 128px;
  }

  .big-block.big-block--news.common-wrapper.slider-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .big-block--represent {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .big-block--represent .common-wrapper__holder {
    height: inherit;
    padding-bottom: 144px;
  }
}
@media (max-width: 499px) {
  .big-block--news {
    background-position: 61%;
  }

  .swiper-pagination.slider-dots.swiper-pagination-bullets {
    left: 40%;
  }

  .swiper-container {
    min-width: 320px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .big-block__2col.big-block__2col--mobile-column .big-block__col.big-block__col--mobile-row:not(:first-child) {
    margin-left: 0;
  }

  .big-block {
    min-width: 320px;
  }

  .swiper-button-prev.slider-prev,
.swiper-button-next.slider-next {
    width: 35px;
  }

  .slider-dots {
    left: 44%;
  }

  .common-wrapper__holder {
    min-width: 320px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .big-block--represent {
    min-width: 320px;
    width: auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .slider__wrapper {
    position: relative;
  }
  .slider__wrapper:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 120px;
    height: 128px;
    background: url(../images/fix-img-2.f7960cec.png);
    z-index: 100;
  }

  .big-block.big-block--news.common-wrapper.slider-item {
    padding-top: 32px;
    width: auto;
  }

  .big-block__description {
    max-width: 256px;
  }

  .big-block__title {
    max-width: 256px;
    font-size: 24px;
    line-height: 32px;
  }

  .our-offer {
    padding-bottom: 28px;
  }
  .our-offer .line__wrapper {
    flex-direction: column;
  }
  .our-offer .offer__title {
    font-size: 16px;
    line-height: 150%;
  }
  .our-offer .offer__description {
    font-size: 14px;
    line-height: 150%;
  }
  .our-offer .line-logo__block {
    margin-top: 50px;
  }

  .big-block--represent {
    padding-top: 48px;
  }
  .big-block--represent .common-wrapper__holder {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 48px;
  }
  .big-block--represent .big-block__title.big-block__title--no-min-height {
    margin-top: 85px;
  }
  .big-block--represent .big-block__2col.big-block__2col--mobile-column {
    flex-direction: column;
  }
  .big-block--represent .big-block__col {
    display: flex;
    margin-top: 29px;
  }
  .big-block--represent .big-block__col-text {
    margin-left: 29px;
    margin-top: 0;
  }

  .info-desktop {
    display: none !important;
  }

  .big-block__col__second {
    width: 280px;
    margin-top: 107px;
  }

  .info-mobile {
    display: block !important;
  }
  .info-mobile .info-mobile__title {
    margin-left: 0;
  }
  .info-mobile .info-mobile__wrapper {
    margin-top: 19px;
    display: flex;
  }
  .info-mobile .info-mobile__wrapper .info-mobile__item:last-child {
    margin-top: 0;
    margin-left: 73px;
    display: block;
  }
  .info-mobile .info-mobile__wrapper .info-mobile__item .big-block__col-text.big-block__col-text--big,
.info-mobile .info-mobile__wrapper .info-mobile__item .big-block__col-text.big-block__col-text--third {
    margin-left: 0;
  }

  .partners-line {
    margin-top: 0;
    padding-left: 0;
  }
  .partners-line .container {
    padding-left: 0;
  }

  .partners-line__wrapper {
    padding-left: 28px;
  }
}
@media (max-width: 351px) {
  .common-wrapper__holder {
    min-width: 280px;
  }
}
.breadcrumbs {
  line-height: 19px;
  display: flex;
  align-items: center;
  color: white;
}

.breadcrumbs--black {
  color: #111721;
}

.breadcrumbs--black .breadcrumbs__icon {
  color: #24509A;
}

.breadcrumbs--black .breadcrumbs__item:last-child {
  opacity: 0.3;
}

.breadcrumbs__icon {
  max-width: 5px;
  max-height: 8px;
  opacity: 0.5;
  margin: 0 10px;
  color: white;
}
.breadcrumbs__icon img {
  width: 100%;
}

.breadcrumbs__item {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs a.breadcrumbs__item:hover {
  opacity: 0.7;
}

.industries-filter__wrapper {
  position: relative;
  height: 92px;
}

.industries-filter-wrapper-mobile {
  display: none;
}

.industries-filter {
  position: absolute;
  top: 0;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  margin-left: -20px;
  margin-top: 32px;
  margin-bottom: 56px;
}
.industries-filter a.item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #245099;
  border-radius: 13px;
  font-weight: 900;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 6px 13px 6px 15px;
  margin-left: 20px;
}

.industries-filter:hover a.item {
  opacity: 0.4;
  background: #303748;
}
.industries-filter:hover a.item:hover {
  background: #245099;
}

.page__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #111721;
}

.page__description {
  max-width: 704px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.09px;
  color: #111721;
}

.industries-gallery__wrapper {
  margin-top: 72px;
}

.industries-gallery__line {
  display: flex;
  margin-top: 48px;
}

.product-block {
  position: relative;
  width: 100%;
  margin-left: 6px;
}
.product-block img {
  width: 100%;
}

.product-block:after {
  content: "";
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../images/loupe.b4f89be4.svg);
}

.product-block.long {
  width: 100%;
}

.product-block__description {
  text-align: center;
  padding: 30px 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #111721;
  border: 1px solid transparent;
}

.product-block:hover .product-block__description {
  border: 1px solid #DCE3EF;
  border-top: none;
}
.product-block:hover:after {
  display: block;
}

.pagination__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.pagination {
  display: flex;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111721;
  margin-bottom: 96px;
}

.pagination__item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}

.pagination__item:hover {
  opacity: 0.7;
}

.pagination__item--active {
  background: #245099;
  border-radius: 100%;
  color: white;
}

.pagination__item--active:hover {
  opacity: 1;
  background: #215EC3;
}

.industries .item-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.industries .offer-example-slider__wrapper {
  padding-left: 0px;
  padding-right: 0;
}
.industries .offer-example-slider__wrapper .news-detail-page__content {
  padding-left: 0;
  padding-right: 0;
}
.industries .item-modal__wrapper.item-modal__wrapper-industries {
  display: none;
}
.industries .item-modal__wrapper.item-modal__wrapper-industries .item-modal__bg {
  position: relative;
  z-index: 1;
}
.industries .item-modal__wrapper.item-modal__wrapper-industries .gallery__slide.gallery__slide--active {
  position: relative;
}
.industries .item-modal__wrapper.item-modal__wrapper-industries .gallery-slide__description {
  position: absolute;
  bottom: -71px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #111721;
}
.industries .item-modal__wrapper.item-modal__wrapper-industries .item-modal__holder {
  width: 704px;
  height: 452px;
}
.industries .item-modal__wrapper.item-modal__wrapper-industries .item-modal__bg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
}
.industries .item-modal__wrapper.item-modal__wrapper-industries .item-modal__close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 48px;
  top: 48px;
  cursor: pointer;
  z-index: 1000;
}
.industries .item-modal__wrapper.item-modal__wrapper-industries .item-modal__close-icon {
  max-width: 24px;
  max-height: 24px;
}
.industries .swiper-button-industries-mobile__wrapper {
  display: none;
}
.industries .swiper-container.swiper-container-industries {
  width: 500px;
  height: 600px;
}
.industries .swiper-container.swiper-container-industries .swiper-slide-industries__img {
  width: 100%;
  height: 500px;
}
.industries .swiper-container.swiper-container-industries .swiper-slide-industries__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.industries .swiper-container.swiper-container-industries .swiper-slide-industries__description {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #111721;
  padding: 20px;
}
.industries .swiper-container.swiper-container-industries .swiper-button-prev.swiper-button-prev-industries {
  width: 64px;
  height: 64px;
  background: #fff;
  background: rgba(254, 254, 254, 0.1);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  top: 76.4%;
  left: 74% !important;
}
.industries .swiper-container.swiper-container-industries .swiper-button-prev.swiper-button-prev-industries:hover {
  background: #DCE3EF;
  opacity: 0.3;
}
.industries .swiper-container.swiper-container-industries .swiper-button-next-industries {
  width: 64px;
  height: 64px;
  background: rgba(254, 254, 254, 0.1);
  right: 0;
  top: 76.4%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.industries .swiper-container.swiper-container-industries .swiper-button-next-industries:hover {
  background: #DCE3EF;
  opacity: 0.3;
}

@media (max-width: 1024px) {
  .swiper-container.swiper-container-industries {
    min-width: inherit;
    max-width: inherit;
  }
}
@media (max-width: 499px) {
  .industries .swiper-container.swiper-container-industries {
    width: 343px;
    height: 336px;
  }

  .industries .swiper-container.swiper-container-industries .swiper-slide-industries__img {
    height: 255px;
  }

  .swiper-button-industries-mobile__wrapper {
    display: block !important;
    width: 100%;
    height: 84px;
    background: white;
    position: absolute;
    bottom: 101px;
    z-index: 1;
  }

  .industries .swiper-container.swiper-container-industries .swiper-button-prev.swiper-button-prev-industries {
    top: 85% !important;
    left: 0% !important;
  }

  .industries .swiper-container.swiper-container-industries .swiper-button-next-industries {
    top: 85% !important;
  }

  .swiper-slide-industries__description {
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background: white;
  }

  .breadcrumbs {
    display: none;
  }

  .industries .gallery {
    width: 300px;
    height: 300px;
  }

  .industries-filter-wrapper-mobile {
    display: block;
    padding-left: 11px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .industries-filter-wrapper-mobile::-webkit-scrollbar {
    width: 0;
  }

  .industries-filter__wrapper.industries-filter-wrapper-desktop {
    display: none;
  }

  .industries-filter a.item {
    margin-left: 10px;
  }

  .page__title {
    font-size: 36px;
    line-height: 36px;
  }

  .industries-gallery__line {
    flex-direction: column;
  }

  .product-block {
    max-width: 343px;
    width: 100%;
    margin: 16px auto;
  }
  .product-block .product-block__img {
    width: 100%;
    height: 252px;
  }
  .product-block .product-block__img img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .product-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .product-container__text {
    padding-left: 17px;
    padding-right: 17px;
  }

  .product-block__description {
    border: 1px solid #DCE3EF;
    border-top: none;
  }

  .industries-gallery__line {
    margin-top: 0;
  }

  .product-block.long {
    max-width: 343px;
    width: 100%;
  }

  .pagination {
    margin-bottom: 40px;
  }
}
.printing-main__wrapper {
  background-image: url(../images/fix-img.0def4246.png);
  background-position: right 65px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 24px;
  padding-bottom: 64px;
}

.page__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #000000;
  margin-top: 10px;
}

.printing-item__wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-left: -128px;
}

.printing-item {
  max-width: 320px;
  width: 100%;
  margin-top: 40px;
  margin-left: 128px;
}

.printing-item__title {
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #111721;
  margin-top: 16px;
}

.printing-item__description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #4D4F51;
  margin-top: 16px;
}

.news-detail-page__gallery {
  margin-bottom: 40px;
  margin-top: 80px;
}

@media only screen and (max-width: 499px) {
  .news-detail-page__gallery {
    margin-bottom: 32px;
  }
}
.news-detail-page__content {
  padding-bottom: 56px;
}

@media only screen and (max-width: 499px) {
  .news-detail-page__content {
    padding-bottom: 24px;
  }
}
.gallery {
  margin-left: -64px;
  margin-right: -63px;
  height: 448px;
  position: relative;
  flex-shrink: 0;
}

@media only screen and (max-width: 499px) {
  .gallery {
    margin-left: -16px;
    margin-right: -16px;
  }
}
.gallery__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: rgba(254, 254, 254, 0.1);
  mix-blend-mode: normal;
}

.gallery__button:hover {
  opacity: 0.3;
}

.gallery__button--deactivate {
  opacity: 0.3;
  cursor: default;
}

.gallery__button--deactivate:hover {
  opacity: 0.3;
}

.gallery__button--prev {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.gallery__button--prev img {
  display: block;
}

.gallery__button--next img {
  display: block;
}

.gallery__button-icon {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.gallery__buttons-holder {
  position: absolute;
  bottom: 0;
  width: 71.3%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 499px) {
  .gallery__buttons-holder {
    width: 100%;
  }
}
.gallery__holder {
  height: 100%;
  display: flex;
}

.gallery__slide {
  width: 0px;
  height: 100%;
  flex-shrink: 0;
  transition: all 300ms ease;
  background-size: cover;
  background-position: center center;
}

.gallery__slide--active {
  width: 71.3%;
  margin-right: 1px;
}

@media only screen and (max-width: 499px) {
  .gallery__slide--active {
    width: 100%;
  }
}
.gallery__slide--active + .gallery__slide {
  width: 28.7%;
}

@media only screen and (max-width: 499px) {
  .gallery__slide--active + .gallery__slide {
    width: 0%;
  }
}
.page__subtitle_wrapper span {
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #111721;
  opacity: 0.3;
}

.printing-list {
  margin-top: 48px;
}
.printing-list li {
  color: #245099;
}
.printing-list span {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #4D4F51;
}

@media (max-width: 499px) {
  .printing-item__wrapper.not-img {
    margin-top: 0;
  }
  .printing-item__wrapper.not-img .printing-item {
    margin-top: 24px;
  }
  .printing-item__wrapper.not-img .printing-item__title {
    margin-top: 0;
  }

  .gallery {
    height: 264px;
  }

  .printing-list {
    margin-top: 10px;
  }
  .printing-list li {
    margin-top: 10px;
  }

  .printing-main__wrapper {
    background-image: url(../images/fix-img-3.c629e622.png);
    background-size: 140px;
    background-position: right 50px;
  }
}
.offers-item__wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-top: -48px;
  padding-bottom: 80px;
}

.offers-item {
  max-width: 376px;
  margin-left: 16px;
  margin-top: 48px;
}

.offers-item__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #111721;
  margin-bottom: 24px;
}

@media (max-width: 499px) {
  .offers-main__wrapper.offers-example {
    background-image: url(../images/fix-img-3.c629e622.png) !important;
    background-size: 140px;
    background-position: right 40px !important;
  }
  .offers-main__wrapper.offers-example .page__title {
    margin-bottom: 64px;
  }
  .offers-main__wrapper.offers-example .news-detail-page__gallery {
    margin-top: 55px;
    margin-bottom: 50px;
  }

  .offers-item__wrapper {
    margin-top: -16px !important;
    padding-bottom: 0;
  }

  .offers-item {
    max-width: 100%;
    width: 100%;
    margin-top: 32px;
  }
  .offers-item .offers-item__img {
    width: 100%;
  }
  .offers-item .offers-item__img img {
    width: 100%;
  }

  .offers-item__title {
    padding-left: 18px;
  }
}
.offers-main__wrapper,
.common-wrapper.video-page {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: url(../images/fix-img-2.f7960cec.png);
  background-position: right 65px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 24px;
  padding-bottom: 64px;
}

.offer-example-slider__wrapper {
  padding-left: 64px;
  padding-right: 64px;
}
.offer-example-slider__wrapper .news-detail-page__content {
  max-width: 1300px;
  margin: auto;
  padding-left: 64px;
  padding-right: 64px;
}

.breadcrumbs a.breadcrumbs__item.offer-link {
  opacity: 1 !important;
}

.breadcrumbs a.breadcrumbs__item.offer-link:hover {
  opacity: 0.7 !important;
}

p.offer-example__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #111721;
}

.offer-example-text__wrapper {
  padding-left: 192px;
  padding-right: 192px;
}

p.offer-example__more-text {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #111721;
  margin-top: 80px;
}
p.offer-example__more-text:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -110px;
  width: 113px;
  height: 88px;
  background: url(../images/offer-example-icon.a86c6f11.png);
}

.offers-item__wrapper {
  margin-top: 72px;
}

.offers-item.small {
  max-width: 240px;
}
.offers-item.small img {
  width: 100%;
}
.offers-item.small .offers-item__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #111721;
}

@media (max-width: 499px) {
  .offers-main__wrapper {
    background-image: url(../images/fix-img-3.c629e622.png) !important;
    background-size: 140px;
    background-position: right 50px !important;
    padding-bottom: 44px !important;
  }

  .offers-main__wrapper.offers-example {
    width: inherit;
    background-image: url(../images/fix-img-3.c629e622.png) !important;
    background-size: 140px;
    background-position: right 50px !important;
    padding-bottom: 44px !important;
  }

  .offer-example-slider__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .news-detail-page__content {
    padding-left: 0;
    padding-right: 0;
  }

  .offer-example-slider__wrapper .news-detail-page__content {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 0;
  }

  .offer-example-text__wrapper {
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    line-height: 26px;
  }

  .offer-example__more-text {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
  }

  p.offer-example__more-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  p.offer-example__more-text:before {
    top: -50px;
    left: -20px;
    background-size: 73px;
    background-repeat: no-repeat;
  }

  .contaiter-offers-item-mobile {
    height: 240px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 20px;
    margin-top: 80px;
  }
  .contaiter-offers-item-mobile::-webkit-scrollbar {
    width: 0;
  }

  .offers-item-mobile {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    top: 0;
    left: -192px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .offers-item-mobile .offers-item__title {
    padding-left: 0;
  }
  .offers-item-mobile .offers-item__img {
    height: 160px;
  }
  .offers-item-mobile .offers-item__img img {
    width: 100%;
    height: 100%;
  }
}
.stamps .big-block--represent {
  padding-top: 30px;
  padding-bottom: 179px;
}

.common-wrapper__holder .page__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  margin-top: 64px;
}
.common-wrapper__holder span.breadcrumbs__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  opacity: 0.3;
}

.stamps-header__wrapper {
  display: flex;
  margin-top: 84px;
}

.stamps__description {
  max-width: 321px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.stamps-download__wrapper {
  margin-left: 79px;
}

.stamps-download__item {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 16px;
  cursor: pointer;
}
.stamps-download__item a {
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.stamps-download__item:hover {
  background: rgba(248, 250, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.stamps-main__wrapper {
  background-image: url(../images/fix-img-2.f7960cec.png);
  background-position: right 65px;
  background-repeat: no-repeat;
}
.stamps-main__wrapper .page__subtitle_wrapper {
  margin-top: 74px;
}
.stamps-main__wrapper .page__description {
  max-width: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #111721;
  margin-top: 24px;
}
.stamps-main__wrapper .partners-line__holder {
  margin-top: 64px;
}
.stamps-main__wrapper .partners-line__logo-holder {
  border: 1px solid #DCE3EF;
  border-radius: 40px;
}

.stamps-todo-line {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  background: #F8FAFF;
  padding: 50px;
  margin-top: 30px;
}

.todo-item {
  display: flex;
  align-items: center;
}
.todo-item span {
  margin-left: 10px;
}

.todo-item:not(:first-child) {
  margin-left: 28px;
}

.todo-next-arrow {
  margin-left: 23px;
}

.download-long {
  background: #FFFFFF;
  border: 1px solid #DCE3EF;
  max-width: 943px;
  margin-top: 40px;
}
.download-long a {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #111721;
}

.choose-form {
  margin-top: 52px;
}

.choose-form-items__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 42px;
  margin-left: -6px;
}

.choose-form-item {
  margin-left: 6px;
  margin-top: 10px;
}
.choose-form-item img {
  width: 100%;
  display: block;
}
.choose-form-item:hover .choose-form-item__text {
  border: 1px solid #DCE3EF;
  border-top: none;
}

.choose-form-item__text {
  text-align: center;
  padding: 30px 20px;
  border: 1px solid transparent;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #111721;
}

.download-mobile {
  display: none;
}

.stamps-todo-line.stamps-todo-line__mobile {
  display: none;
}

.stumps-modal__wrapper.item-modal__wrapper-stumps {
  display: block;
}

.stamps-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stamps-modal__wrapper {
  display: none;
}

.stamps-modal__holder {
  width: 704px;
  height: 452px;
}

.stamps-modal__bg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
}

.stamps-modal__close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 48px;
  top: 48px;
  cursor: pointer;
  z-index: 1000;
}

.stamps-modal__close-icon {
  max-width: 24px;
  max-height: 24px;
}

.swiper-container.swiper-container-stamps {
  width: 500px;
  height: 600px;
  min-width: inherit;
}
.swiper-container.swiper-container-stamps .swiper-slide-stamps__img {
  width: 100%;
  height: 500px;
  background: rgba(164, 164, 164, 0.1);
  padding: 20px 40px;
}
.swiper-container.swiper-container-stamps .swiper-slide-stamps__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-container.swiper-container-stamps .swiper-slide-stamps__description {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #111721;
  padding: 20px;
}
.swiper-container.swiper-container-stamps .swiper-button-prev.swiper-button-prev-stamps {
  width: 64px;
  height: 64px;
  background: #fff;
  background: rgba(254, 254, 254, 0.1);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  top: 76.4%;
  left: 74% !important;
}
.swiper-container.swiper-container-stamps .swiper-button-prev.swiper-button-prev-stamps:hover {
  background: #DCE3EF;
  opacity: 0.3;
}
.swiper-container.swiper-container-stamps .swiper-button-next-stamps {
  width: 64px;
  height: 64px;
  background: rgba(254, 254, 254, 0.1);
  right: 0;
  top: 76.4%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.swiper-container.swiper-container-stamps .swiper-button-next-stamps:hover {
  background: #DCE3EF;
  opacity: 0.3;
}

@media (max-width: 499px) {
  .stamps.swiper-container.swiper-container-stumps {
    width: 343px;
    height: 336px;
  }

  .stamps-main__wrapper {
    background-image: none;
  }

  .swiper-container.swiper-container-stamps .swiper-slide-stamps__description {
    background: white;
  }

  .swiper-container.swiper-container-stamps .swiper-button-prev.swiper-button-prev-stamps {
    top: 86% !important;
    left: 0% !important;
  }

  .swiper-container.swiper-container-stamps .swiper-button-next-stamps {
    top: 86% !important;
  }

  .stamps .big-block--represent {
    padding-bottom: 40px;
  }
  .stamps .big-block--represent .common-wrapper__holder {
    padding-bottom: 0;
  }

  .stamps-header__wrapper {
    margin-top: 50px;
  }

  .download-mobile {
    display: block;
    margin-left: 0;
    margin-top: 32px;
  }
  .download-mobile .stamps-download__item {
    align-items: baseline;
    border: 1px solid #DCE3EF;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .download-mobile .stamps-download__item a {
    color: #111721;
  }

  .download-desktop {
    display: none;
  }

  .stamps-main__wrapper .page__subtitle_wrapper {
    margin-top: 34px;
  }

  .stamps-todo-line.stamps-todo-line__desktop {
    display: none;
  }

  .stamps-todo-line.stamps-todo-line__mobile {
    display: block;
    width: 100%;
  }

  .todo-item {
    justify-content: center;
  }

  .todo-item:not(:first-child) {
    margin-left: 0;
  }

  .todo-next-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .container.stamps-container-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }

  .choose-form p {
    padding-left: 13px;
    padding-right: 13px;
  }

  .choose-form-items__wrapper {
    margin-left: 0;
  }

  .choose-form-item {
    max-width: 171px;
    width: 100%;
    margin-left: 0;
    margin: auto;
  }
}
.video-page__content {
  margin-top: 56px;
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-modal__wrapper {
  display: none;
}

.video-modal__holder {
  width: 704px;
  height: 452px;
}

.video-modal__bg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
}

.video-modal__close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 48px;
  top: 48px;
  cursor: pointer;
}

.video-modal__close-icon {
  max-width: 24px;
  max-height: 24px;
}

.video-item__preview {
  width: 224px;
  height: 144px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  right: -48px;
  background-position: center center;
  background-image: url(//img.youtube.com/vi/G-PQh9HEUvA/mqdefault.jpg);
}

a.video-item {
  display: flex;
  align-items: center;
  margin-left: -16px;
  margin-bottom: 16px;
  position: relative;
}
a.video-item:hover .video-item__content {
  background: #F8FAFF;
  border: 1px solid #DCE3EF;
}

.video-item__content {
  background: #FFFFFF;
  border: 1px solid #F8FAFF;
  padding-left: 112px;
  padding-top: 32px;
  padding-right: 64px;
  padding-bottom: 32px;
  width: 100%;
}

.video-item__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #111721;
  margin-bottom: 24px;
  min-height: 96px;
}

.video-item__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #818FA6;
}

.video-page .pagination {
  margin-bottom: 0;
}

@media (max-width: 499px) {
  .common-wrapper.video-page {
    background-image: url(../images/fix-img-3.c629e622.png) !important;
    background-size: 140px;
    background-position: right 50px !important;
    padding-bottom: 44px !important;
  }

  .video-item {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    margin-left: 0 !important;
    background: #FFFFFF;
    border: 1px solid #DCE3EF;
    padding: 16px;
  }

  .video-item__content {
    padding: 0;
    border: none;
    background: inherit;
  }

  .video-item__preview {
    width: 100%;
    right: 0;
  }

  .container-video-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }

  .video-item__heading {
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 0;
  }
}
.contacts .social-links__link {
  background: #F8FAFF;
}
.contacts .social-links__link:hover {
  background: #EBF0FA;
}

.contacts-container {
  display: flex;
  margin-left: -24px;
  margin-right: -24px;
}

.contacts-container__map-container {
  border-bottom: 0.5px solid #DCE3EF;
  padding-bottom: 19px;
  margin-bottom: 16px;
}

.contacts-container__map-holder-btn-icon {
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 7px;
}

.contacts-container__left {
  width: calc(33.3333% - 1px);
  padding-left: 24px;
  padding-top: 16px;
  flex-shrink: 0;
}

.contacts-container__heading {
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: medium;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #111721;
}

.contacts-container__right {
  padding-left: 24px;
  padding-top: 16px;
  border-left: 0.5px solid #DCE3EF;
  width: 100%;
}

.contacts-container__heading {
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #111721;
}

.contacts-container__subheading-holder {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.contacts-container__subheading {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.contacts-container__subheading-icon {
  max-width: 24px;
  max-height: 24px;
  margin-right: 12px;
}

.contacts-container-2col {
  display: flex;
  align-items: baseline;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts-container-2col__col1 {
  width: 112px;
  color: #A6A6A6;
  flex-shrink: 0;
  font-family: "Montserrat";
  font-weight: medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.contacts-item {
  padding-left: 42px;
}

.contacts-container-2col__col2 {
  margin-left: 24px;
}
.contacts-container-2col__col2 .contacts-container__row {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
  flex-wrap: wrap;
}
.contacts-container-2col__col2 .contacts-container__main {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 22px;
  text-decoration: none;
}
.contacts-container-2col__col2 .contacts-container__main a {
  color: #24509A;
}
.contacts-container-2col__col2 .contacts-container__extra {
  color: #A6A6A6;
  font-weight: medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.contacts-container__btn {
  width: 208px;
  background: #35A9AD;
  border-radius: 4px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.contacts-container__btn-icon {
  max-width: 24px;
  max-height: 24px;
  margin-right: 8px;
}

.contacts-container__btn-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: white;
}

.contacts-container__map-container {
  position: relative;
}

.contacts-container__map {
  height: 300px;
  width: 100%;
}

.contacts-adress-mobile {
  display: none;
}

.map-mobile {
  display: none;
}

.hr-mobile {
  display: none;
}

.socials-mobile {
  display: none;
}

.satisfaction-mobile {
  display: none;
}

@media (max-width: 499px) {
  .contacts {
    padding-bottom: 65px;
  }

  .contacts-adress-desktop {
    display: none;
  }

  .contacts-container {
    flex-direction: column;
  }

  .contacts-item {
    padding-left: 18px;
  }

  .contacts-container__right {
    border: none;
  }

  .contacts-container__subheading-holder {
    margin-left: -20px;
  }

  .contacts-container__main a {
    font-size: 16px;
  }

  .contacts-email a {
    font-size: 14px;
  }

  .contacts-adress-mobile {
    display: block;
  }
  .contacts-adress-mobile a {
    font-size: 14px;
  }

  .contacts-container__btn {
    display: none;
  }

  .map-desktop {
    display: none;
  }

  .map-mobile {
    display: block;
    margin-top: 60px;
  }

  .hr-mobile {
    display: block;
    border-top: 1px solid #DCE3EF;
  }

  .socials-desktop {
    display: none;
  }

  .socials-mobile {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-bottom: 31px;
  }

  .contacts-container__heading {
    margin-top: 0;
  }

  .social-links__link {
    width: 56px !important;
    height: 56px !important;
  }

  .satisfaction-mobile {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .satisfaction-mobile a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #245099;
  }
}
.header-mobile {
  display: none;
}

.menu-mobile {
  opacity: 0;
  width: 87%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #ffffff;
  z-index: 3;
  transition: 0.2s;
  transform: translate(100%, 0);
  overflow: auto;
}

.main-menu__holder {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1488px;
  height: 88px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  justify-content: space-around;
}

.main-menu__main-logo {
  transition: all 300ms ease;
}
.main-menu__main-logo a {
  display: block;
}
.main-menu__main-logo:hover {
  transform: scale(1.07);
}

.main-menu__nav-bar {
  flex-grow: 3;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
}
.main-menu__nav-bar a {
  text-align: center;
}

.main-logo__icon:hover {
  transform: scale(1.07);
}

.nav-bar__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.nav-bar {
  display: flex;
}

.nav-bar__submenu-btn {
  cursor: default;
}

.nav-bar__link, .nav-bar__submenu-btn {
  text-decoration: none;
  color: #111721;
}

.nav-bar__link:hover, .nav-bar__submenu-btn:hover {
  opacity: 1 !important;
}

.nav-bar__link:last-child, .nav-bar__submenu-btn:last-child {
  margin-right: 0;
}

.nav-bar__submenu-wrapper:hover .nav-bar__link, .nav-bar__submenu-wrapper:hover .nav-bar__submenu-btn {
  opacity: 1 !important;
}

.nav-bar__submenu-wrapper:hover .nav-bar__submenu {
  display: block;
}

.nav-bar__submenu {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #DCE3EF;
  border-bottom: 0;
  margin-left: -32px;
  display: none;
  z-index: 100;
}

.nav-bar__submenu-link {
  display: block;
  line-height: 56px;
  padding-left: 32px;
  padding-right: 56px;
  text-decoration: none;
  color: #111721;
  border-bottom: 1px solid #DCE3EF;
  position: relative;
}

.nav-bar__submenu-link:hover {
  background: #F8FAFF;
}

.nav-bar__submenu-link:hover .nav-bar__submenu-arrow {
  display: block;
}

.nav-bar__submenu-arrow {
  max-width: 4px;
  max-height: 8px;
  position: absolute;
  right: 24px;
  top: 24px;
  display: none;
}

.nav-bar:hover .nav-bar__link, .nav-bar:hover .nav-bar__submenu-btn {
  opacity: 0.3;
}

@media (max-width: 1440px) {
  .main-menu__main-logo.main-logo {
    flex-grow: 1;
  }

  .main-menu__nav-bar {
    margin-left: 40px;
    flex-grow: 5;
  }
  .main-menu__nav-bar .nav-bar__link {
    font-size: 12px;
  }
}
@media (max-width: 499px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 0.5px solid #DCE3EF;
  }
  .header-mobile .main-menu__main-logo.main-logo {
    margin-bottom: 9px;
  }

  .menu-btn {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 4;
    width: 50px;
    height: 50px;
    background-color: #fff;
  }

  .menu_active {
    opacity: 1 !important;
    transform: translateX(0%) !important;
    transition: all 0.2s ease !important;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
  }

  .menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #24509A;
  }

  .menu-btn span::before,
.menu-btn span::after {
    content: "";
    display: block;
    transition: 0.5s;
  }

  .menu-btn span::before {
    transform: translateY(-5px);
  }

  .menu-btn span::after {
    transform: translateY(5px);
  }

  .menu-btn_active span {
    height: 0;
  }

  .menu-btn_active span:before {
    transform: rotate(45deg);
  }

  .menu-btn_active span:after {
    transform: rotate(-45deg);
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.5;
    z-index: 2;
  }

  .overlay-show {
    display: block;
  }

  .menu-mobile__header {
    padding-left: 18px;
    padding-top: 8px;
    border-bottom: 0.5px solid #DCE3EF;
    padding-bottom: 15px;
  }

  .menu-mobile__body {
    position: relative;
    min-height: 100%;
    padding-left: 48px;
  }
  .menu-mobile__body .app-buttons {
    margin-top: 35px;
  }

  .accordeon {
    margin-top: 22px;
  }
  .accordeon a {
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 32px;
    color: #000000;
    display: block;
    margin: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color--webkit-touch-callout: none;
    -webkit-tap-highlight-color--webkit-user-select: none;
    -webkit-tap-highlight-color--khtml-user-select: none;
    -webkit-tap-highlight-color--moz-user-select: none;
    -webkit-tap-highlight-color--ms-user-select: none;
    -webkit-tap-highlight-color-user-select: none;
  }
  .accordeon p {
    display: flex;
    width: 90%;
    color: black;
    font-size: 17px;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #666666;
    padding-left: 30px;
  }
  .accordeon p span:not(:first-child) {
    margin-left: 45px;
  }
  .accordeon p span {
    display: flex;
    flex-direction: column;
  }
  .accordeon p span a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 8px;
  }
  .accordeon ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  .accordeon ul li.menu-mobile__section {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    margin-top: 16px;
  }
  .accordeon ul li.menu-mobile__section .menu-mobile__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111721;
  }
  .accordeon ul li.menu-mobile__section .footer-sitemap__icon {
    transition: all 0.25s ease-in-out;
    position: absolute;
    transform: translate(-29px, 0) rotate(90deg);
    margin-top: 10px;
    right: 0;
  }
  .accordeon ul li.menu-mobile__section i {
    position: absolute;
    transform: translate(-32px, 0);
    margin-top: 10px;
    right: 0;
  }
  .accordeon ul li.menu-mobile__section i:before, .accordeon ul li.menu-mobile__section i:after {
    content: "";
    transition: all 0.25s ease-in-out;
    position: absolute;
    background-color: #245099;
    width: 2px;
    height: 10px;
  }
  .accordeon ul li.menu-mobile__section i:before {
    transform: translate(-11px, 0) rotate(45deg);
    -webkit-transform: translate(-11px, 0) rotate(45deg);
    -moz-transform: translate(-11px, 0) rotate(45deg);
    -ms-transform: translate(-11px, 0) rotate(45deg);
    -o-transform: translate(-11px, 0) rotate(45deg);
  }
  .accordeon ul li.menu-mobile__section i:after {
    transform: translate(2px, 0) rotate(-45deg);
    -webkit-transform: translate(2px, 0) rotate(-45deg);
    -moz-transform: translate(2px, 0) rotate(-45deg);
    -ms-transform: translate(2px, 0) rotate(-45deg);
    -o-transform: translate(2px, 0) rotate(-45deg);
  }
  .accordeon ul li.menu-mobile__section input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 28%;
    right: 0;
    top: 8px;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  .accordeon ul li.menu-mobile__section input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  .accordeon ul li.menu-mobile__section input[type=checkbox]:checked ~ .footer-sitemap__icon {
    transform: translate(-32px, 0);
  }
  .accordeon ul li.menu-mobile__section input[type=checkbox]:checked ~ i:before {
    transform: translate(-5px, 0) rotate(45deg);
    -webkit-transform: translate(-5px, 0) rotate(45deg);
    -moz-transform: translate(-5px, 0) rotate(45deg);
    -ms-transform: translate(-5px, 0) rotate(45deg);
    -o-transform: translate(-5px, 0) rotate(45deg);
  }
  .accordeon ul li.menu-mobile__section input[type=checkbox]:checked ~ i:after {
    transform: translate(-11px, 0) rotate(-45deg);
  }
}
.footer-sitemap {
  background: #303748;
  padding-top: 40px;
}

.footer-right {
  margin-left: 68px;
}

.footer-sitemap.abnormal-wrapper.footer-medium-screen {
  display: none;
}

.footer-socials {
  display: flex;
}

.bottom-footer__left {
  margin-top: 55px;
}

.bottom-footer__right {
  width: 50%;
}

@media only screen and (max-width: 499px) {
  .footer-sitemap {
    height: initial;
    padding-top: 24px;
    padding-bottom: 32px;
  }
}
@media only screen and (min-width: 1599px) {
  .footer-sitemap {
    height: 479px;
  }
}
@media (max-width: 1599px) {
  .footer-sitemap {
    height: 479px;
  }
}
@media (max-width: 1599px) and (max-width: 1024px) {
  .footer-sitemap {
    height: 605px;
  }
}
.footer-sitemap__icon {
  position: absolute;
}

@media only screen and (min-width: 500px) {
  .footer-sitemap__icon {
    display: none;
  }
}
.footer-sitemap.abnormal-wrapper.footer-full-screen .footer-sitemap__holder {
  display: flex;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
}
.footer-sitemap.abnormal-wrapper.footer-full-screen .footer-sitemap__section {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding-bottom: 48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 0;
}

.footer-left {
  width: 39%;
  height: 62%;
}

.footer-right {
  width: 61%;
  height: 62%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}
.footer-right .footer-sitemap__section {
  width: 29%;
}

@media only screen and (max-width: 499px) {
  .footer-sitemap__section {
    width: initial;
    margin: 0;
    padding: 0;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (max-width: 499px) {
  .footer-sitemap__section--active {
    background: #292E3A;
  }
}
.footer-sitemap__section--active .footer-sitemap__icon {
  transform: rotate(90deg);
}

.footer-sitemap__section--active .footer-sitemap__subsections {
  display: flex;
}

.footer-sitemap__title {
  font-weight: 500;
  color: white;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  position: relative;
}

.footer-sitemap__title:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 499px) {
  .footer-sitemap__title {
    line-height: 40px;
    font-size: 16px;
    display: block;
  }
}
.footer-sitemap__icon {
  position: absolute;
  max-width: 4px;
  max-height: 8px;
  top: 16px;
  right: 0;
}

.footer-sitemap__subsections {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

@media only screen and (max-width: 499px) {
  .footer-sitemap__subsections {
    margin-top: 0;
    display: none;
    padding-left: 24px;
  }
}
.footer-sitemap__subsection {
  font-weight: normal;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.footer-sitemap__subsection:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 499px) {
  .footer-sitemap__subsection {
    width: calc(100% + 17px);
    line-height: 32px;
  }
}
.footer-sitemap__subsection--ext:before {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -24px;
}

.bottom-footer {
  background: #292E3A;
  padding-top: 56px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 24px;
  color: white;
}

.bottom-footer-container {
  padding-right: 40px;
}

@media only screen and (min-width: 1599px) {
  .bottom-footer {
    position: relative;
  }
}
.bottom-footer__holder {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@media only screen and (min-width: 1599px) {
  .bottom-footer__holder {
    position: initial;
  }
}
.bottom-footer__unit {
  flex-shrink: 0;
  margin-bottom: 56px;
}

@media only screen and (max-width: 499px) {
  .bottom-footer {
    padding: 32px;
    padding-bottom: 40px;
    font-size: 12px !important;
  }

  .bottom-footer .bottom-footer__unit {
    width: 100%;
    margin-bottom: 0;
  }

  .bottom-footer .bottom-footer__unit--medals {
    margin-bottom: 48px;
    order: 1;
  }

  .bottom-footer .bottom-footer__unit--contacts {
    margin-bottom: 32px;
    order: 2;
  }

  .bottom-footer .bottom-footer__unit--address {
    margin-bottom: 32px;
    order: 3;
  }

  .bottom-footer .bottom-footer__unit--social {
    order: 4;
    margin-bottom: 32px;
  }

  .bottom-footer .bottom-footer__unit--copyright {
    order: 5;
    margin-bottom: 28px;
  }

  .bottom-footer .bottom-footer__unit--app-buttons {
    order: 6;
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 1599px) {
  .bottom-footer .bottom-footer__unit {
    order: 0;
  }

  .bottom-footer .bottom-footer__unit--address {
    order: 1;
  }

  .bottom-footer .bottom-footer__unit--contacts {
    order: 2;
  }

  .bottom-footer .bottom-footer__unit--social {
    order: 3;
  }

  .bottom-footer .bottom-footer__unit--app-buttons {
    order: 4;
  }

  .bottom-footer .bottom-footer__unit--copyright {
    order: 5;
  }
}
.footer-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 418px;
}

.footer-contacts a {
  text-decoration: none;
  color: inherit;
}

.footer-contacts a:hover {
  opacity: 0.7;
}

.footer-contacts__right {
  opacity: 1 !important;
}

@media only screen and (max-width: 499px) {
  .footer-contacts .footer-contacts br {
    display: none;
  }

  .footer-contacts .footer-contacts__right, .footer-contacts .footer-contacts__left {
    opacity: 1;
    flex-shrink: 0;
  }

  .footer-contacts .footer-contacts--minus {
    opacity: 0;
  }

  .footer-contacts .footer-contacts--location {
    color: #818690;
    display: block;
    margin-bottom: 2px;
  }
}
.footer-contacts__left {
  margin-right: 40px;
}

.footer-copyright {
  max-width: 418px;
}

.footer-copyright__grey {
  opacity: 0.4;
}

.footer-copyright a {
  text-decoration: none;
  color: inherit;
}

.footer-copyright a:hover {
  opacity: 0.7;
}

.footer-addresss {
  max-width: 260px;
}

@media only screen and (max-width: 499px) {
  .footer-addresss {
    max-width: initial;
  }
}
@media only screen and (max-width: 499px) {
  .footer-socials .social-links__link {
    width: 56px;
    height: 56px;
  }
}
.bottom-footer {
  background: #292E3A;
  padding-top: 56px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 24px;
  color: white;
}

@media only screen and (min-width: 1599px) {
  .bottom-footer {
    position: relative;
  }
}
.bottom-footer__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

@media only screen and (min-width: 1599px) {
  .bottom-footer__holder {
    position: initial;
  }
}
.bottom-footer__unit {
  flex-shrink: 0;
  margin-bottom: 56px;
}

@media only screen and (max-width: 499px) {
  .bottom-footer {
    padding: 32px;
    padding-bottom: 40px;
    font-size: 16px;
  }

  .bottom-footer .bottom-footer__unit {
    width: 100%;
    margin-bottom: 0;
  }

  .bottom-footer .bottom-footer__unit--medals {
    margin-bottom: 48px;
    order: 1;
  }

  .bottom-footer .bottom-footer__unit--contacts {
    margin-bottom: 32px;
    order: 2;
  }

  .bottom-footer .bottom-footer__unit--address {
    margin-bottom: 32px;
    order: 3;
  }

  .bottom-footer .bottom-footer__unit--social {
    order: 4;
    margin-bottom: 32px;
  }

  .bottom-footer .bottom-footer__unit--copyright {
    order: 5;
    margin-bottom: 28px;
  }

  .bottom-footer .bottom-footer__unit--app-buttons {
    order: 6;
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 1599px) {
  .bottom-footer .bottom-footer__unit {
    order: 0;
  }

  .bottom-footer .bottom-footer__unit--address {
    order: 1;
  }

  .bottom-footer .bottom-footer__unit--contacts {
    order: 2;
  }

  .bottom-footer .bottom-footer__unit--social {
    order: 3;
  }

  .bottom-footer .bottom-footer__unit--app-buttons {
    order: 4;
  }

  .bottom-footer .bottom-footer__unit--copyright {
    order: 5;
  }
}
.footer-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 418px;
}

.footer-contacts a {
  text-decoration: none;
  color: inherit;
}

.footer-contacts a:hover {
  opacity: 0.7;
}

.footer-contacts__right {
  opacity: 0.4;
}

@media only screen and (max-width: 499px) {
  .footer-contacts .footer-contacts br {
    display: none;
  }

  .footer-contacts .footer-contacts__right, .footer-contacts .footer-contacts__left {
    opacity: 1;
    flex-shrink: 0;
  }

  .footer-contacts .footer-contacts--minus {
    opacity: 0;
  }

  .footer-contacts .footer-contacts--location {
    color: #818690;
    display: block;
    margin-bottom: 2px;
  }
}
.footer-copyright {
  max-width: 418px;
}

.footer-copyright__grey {
  opacity: 0.4;
}

.footer-copyright a {
  text-decoration: none;
  color: inherit;
}

.footer-copyright a:hover {
  opacity: 0.7;
}

.footer-agrocom {
  position: absolute;
  right: 0px;
  bottom: 60px;
}

.footer-agrocom__link {
  display: block;
  transform: scale(1);
  transition: all 300ms ease;
  margin-right: 40px;
  margin-bottom: 44px;
}

.footer-agrocom__link:hover {
  transform: scale(1.07);
}

.footer-agrocom__logo {
  max-width: 80px;
  max-height: 60px;
}

@media (max-width: 1599px) {
  .footer-agrocom {
    right: 0px;
  }
}
@media only screen and (max-width: 499px) {
  .footer-agrocom {
    position: relative;
    margin: 0 auto;
    order: 7;
  }

  .footer-agrocom__logo {
    margin: 0;
  }
}
.footer-addresss {
  max-width: 260px;
}

@media only screen and (max-width: 499px) {
  .footer-addresss {
    max-width: initial;
  }
}
@media only screen and (max-width: 499px) {
  .footer-socials .social-links__link {
    width: 56px;
    height: 56px;
  }
}
.social-links {
  display: flex;
  align-items: center;
}

a.social-links__link {
  display: flex;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.footer-app-button {
  max-width: 320px;
}

.app-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

a.app-buttons__link {
  display: flex;
  align-items: center;
  width: 128px;
  height: 40px;
  background: #000000;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-top: 8px;
}
a.app-buttons__link:hover {
  background: #171A21;
}
a.app-buttons__link .app-buttons__icon {
  width: 20px;
  height: 20px;
}
a.app-buttons__link .app-buttons__icon img {
  width: 100%;
  height: 100%;
}

.app-button__text {
  margin-left: 12px;
}

.app-button__title {
  font-style: normal;
  font-weight: 500;
  font-size: 6px;
  line-height: 7px;
  color: #FFFFFF;
}

.app-button__subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.footer-mobile {
  display: none;
}

.footer-sitemap__holder.abnormal-wrapper__holder.footer-menu-mobile {
  display: none !important;
}

.bottom-wrapper-medium {
  display: none;
}

.bottom-footer.abnormal-wrapper.bottom-wrapper-full .bottom-footer__holder.abnormal-wrapper__holder {
  overflow: hidden;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1664px;
  padding-left: 128px;
  padding-right: 40px;
}
.bottom-footer.abnormal-wrapper.bottom-wrapper-full .bottom-footer__holder.abnormal-wrapper__holder .bottom-footer__unit.bottom-footer__unit--contacts {
  width: 100%;
}
.bottom-footer.abnormal-wrapper.bottom-wrapper-full .bottom-footer__holder.abnormal-wrapper__holder .bottom-footer__unit.bottom-footer__unit--contacts .footer-contacts {
  max-width: 100%;
  justify-content: space-between;
}
.bottom-footer.abnormal-wrapper.bottom-wrapper-full .numbers__wrapper {
  display: flex;
  align-items: baseline;
}
.bottom-footer.abnormal-wrapper.bottom-wrapper-full .number-two {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-left: 40px;
}
.bottom-footer.abnormal-wrapper.bottom-wrapper-full .footer-copyright {
  margin-top: 60px;
}
.bottom-footer.abnormal-wrapper.bottom-wrapper-full .footer-app-button {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .bottom-wrapper-medium {
    display: block;
  }

  .bottom-wrapper-full {
    display: none;
  }

  .footer-sitemap.abnormal-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .footer-right {
    width: 100%;
    height: 100%;
  }

  .footer-sitemap.abnormal-wrapper.footer-medium-screen {
    display: block;
  }
  .footer-sitemap.abnormal-wrapper.footer-medium-screen .footer-sitemap__holder {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-sitemap.abnormal-wrapper.footer-medium-screen .footer-sitemap__section {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding-bottom: 48px;
    flex-shrink: 0;
  }

  .footer-agrocom {
    right: -40px !important;
  }

  .footer-sitemap.abnormal-wrapper.footer-full-screen {
    display: none;
  }

  .bottom-footer.abnormal-wrapper.footer-desktop {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 499px) {
  .footer-sitemap__holder.abnormal-wrapper__holder.footer-menu-desktop {
    display: none !important;
  }

  .footer-sitemap__holder.abnormal-wrapper__holder.footer-menu-mobile {
    display: block !important;
    height: auto !important;
  }

  .footer-right {
    margin-left: 0;
  }

  .footer-sitemap__section {
    padding-left: 0;
  }

  .footer-sitemap {
    height: auto;
  }

  .footer-sitemap__holder {
    height: inherit;
    padding-bottom: 30px;
  }

  .container.bottom-footer-container {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-agrocom {
    position: initial;
  }

  .footer-agrocom__link {
    margin: 0;
  }

  .footer-agrocom__logo {
    margin: auto;
  }

  .footer-sitemap.abnormal-wrapper {
    padding-bottom: 0;
    width: auto;
  }

  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    display: block;
  }

  .bottom-footer__left {
    margin-top: 0;
  }

  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer {
    margin-top: 0;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer a {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff !important;
    display: block;
    margin: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color--webkit-touch-callout: none;
    -webkit-tap-highlight-color--webkit-user-select: none;
    -webkit-tap-highlight-color--khtml-user-select: none;
    -webkit-tap-highlight-color--moz-user-select: none;
    -webkit-tap-highlight-color--ms-user-select: none;
    -webkit-tap-highlight-color-user-select: none;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer span {
    display: flex;
    flex-direction: column;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer span a {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 8px;
    pointer-events: none;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer p {
    display: flex;
    width: 90%;
    color: black;
    font-size: 17px;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #666666;
    padding-left: 30px;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer p span:not(:first-child) {
    margin-left: 45px;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer p span {
    display: flex;
    flex-direction: column;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer p span a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 8px;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    -webkit-animation: flipdown 0.5s ease both;
            animation: flipdown 0.5s ease both;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section .footer-sitemap__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111721;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section .footer-sitemap__icon {
    transition: all 0.25s ease-in-out;
    position: absolute;
    transform: translate(-29px, 0) rotate(90deg);
    margin-top: 10px;
    right: 0;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section i {
    position: absolute;
    transform: translate(-32px, 0);
    margin-top: 10px;
    right: 0;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section i:before, .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section i:after {
    content: "";
    transition: all 0.25s ease-in-out;
    position: absolute;
    background-color: #245099;
    width: 2px;
    height: 10px;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section i:before {
    transform: translate(-11px, 0) rotate(45deg);
    -webkit-transform: translate(-11px, 0) rotate(45deg);
    -moz-transform: translate(-11px, 0) rotate(45deg);
    -ms-transform: translate(-11px, 0) rotate(45deg);
    -o-transform: translate(-11px, 0) rotate(45deg);
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section i:after {
    transform: translate(2px, 0) rotate(-45deg);
    -webkit-transform: translate(2px, 0) rotate(-45deg);
    -moz-transform: translate(2px, 0) rotate(-45deg);
    -ms-transform: translate(2px, 0) rotate(-45deg);
    -o-transform: translate(2px, 0) rotate(-45deg);
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 28%;
    right: 0;
    top: 8px;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section input[type=checkbox]:checked ~ .footer-sitemap__icon {
    transform: translate(-32px, 0);
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section input[type=checkbox]:checked ~ i:before {
    transform: translate(-5px, 0) rotate(45deg);
    -webkit-transform: translate(-5px, 0) rotate(45deg);
    -moz-transform: translate(-5px, 0) rotate(45deg);
    -ms-transform: translate(-5px, 0) rotate(45deg);
    -o-transform: translate(-5px, 0) rotate(45deg);
  }
  .footer-sitemap__holder.abnormal-wrapper__holder .accordeon.accordeon-footer ul li.footer-sitemap__section input[type=checkbox]:checked ~ i:after {
    transform: translate(-11px, 0) rotate(-45deg);
  }
  @-webkit-keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }
  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

  .footer-sitemap__icon.invisible {
    opacity: 1;
  }
}
@media (max-width: 351px) {
  .container.bottom-footer-container {
    min-width: 280px;
  }
}

/*# sourceMappingURL=../styles.9316f574.css.map */